:root {
  --base-color: #212121;
  --additional-color: #2196F3;
  --accent-color: #000000;
  --text-color: #757575;
  --attribute-color: #FFFFFF;
  --section-color: #2F303A;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --shade-color: #F5F4FA;
  --portfolio-color: #F5F5F5;
  --button-active: #188CE8;
  --border-color: #ECECEC;
  --secondary-border: #EEEEEE;
  --icon-color: #AFB1B8;
  --background-icon: rgba(255, 255, 255, 0.1);
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: var(--base-color);
  background-color: var(--attribute-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

a {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.section__header {
  background-color: var(--attribute-color);
  border-bottom: 1px solid var(--border-color);
}

@media screen and (max-width: 479px) {
  .container__header {
    width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .container__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .container__header {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container__header {
    width: 1200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .navigation__menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navigation__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .list__contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .list__contacts {
    display: block;
    padding: 21px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .list__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}
.list__contacts:focus {
  color: var(--additional-color);
}
.list__contacts:hover {
  color: var(--additional-color);
}

@media screen and (min-width: 767px) {
  .menu__button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .link__navigation {
    display: block;
    padding: 32px 0px;
  }
}

@media screen and (max-width: 767px) {
  .logo___main {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .logo___main {
    margin: 26px 88px 26px 0px;
  }
}

.navigation__titles {
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  color: var(--base-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.navigation__titles:focus {
  color: var(--additional-color);
}
.navigation__titles:hover {
  color: var(--additional-color);
}

.link__contacts {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.link__contacts:focus {
  color: var(--additional-color);
}
.link__contacts:hover {
  color: var(--additional-color);
}

.contacts__icon {
  margin-right: 8px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.link__contacts:focus .contacts__icon {
  fill: var(--additional-color);
}

.link__contacts:hover .contacts__icon {
  fill: var(--additional-color);
}

.current {
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--additional-color);
  border-radius: 2px;
}

.mobile__menu {
  padding: 48px 40px;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: var(--attribute-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.mobile__menu.is-open {
  display: block;
}

.menu__items:last-child {
  margin-bottom: 306px;
}

.menu__items {
  margin-bottom: 32px;
}

.mobile__link {
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--base-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.mobile__link:focus {
  color: var(--additional-color);
}
.mobile__link:hover {
  color: var(--additional-color);
}

.contacts__link {
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--text-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.contacts__link:focus {
  color: var(--additional-color);
}
.contacts__link:hover {
  color: var(--additional-color);
}

.contacts__item {
  margin-bottom: 32px;
}

.contacts__item:last-child {
  margin-bottom: 64px;
}

.network__link {
  position: relative;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--additional-color);
}

.network__link:not(:last-child)::after {
  position: absolute;
  content: "";
  top: 0px;
  right: -10px;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}

.networks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.icon__button {
  width: 40px;
  height: 40px;
}

.mobile__button {
  position: absolute;
  right: 15px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--attribute-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.mobile__button:focus .icon__button {
  fill: var(--additional-color);
}

.mobile__button:hover .icon__button {
  fill: var(--additional-color);
}

.menu__button {
  background-color: var(--attribute-color);
  border: 1px solid transparent;
  margin-left: auto;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 480px;
}
@media screen and (max-width: 479px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--additional-color);
}

.logo__additional {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .logo__additional {
    line-height: 1.17;
    font-size: 24px;
  }
}

.logo__specific {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--attribute-color);
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .logo__specific {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (max-width: 767px) {
  .logo___main {
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.section__hero {
  background-color: var(--section-color);
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--attribute-color);
}
@media screen and (max-width: 767px) {
  .hero__title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
    margin-left: 189px;
    margin-right: 189px;
    text-align: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
  }
}

.button__primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.button__primary:hover {
  background-color: var(--button-active);
  -webkit-box-shadow: 0px 4p 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4p 4px rgba(0, 0, 0, 0.15);
}
.button__primary:focus {
  background-color: var(--button-active);
  -webkit-box-shadow: 0px 4p 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4p 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity, visibility, -webkit-box-shadow;
  transition-property: opacity, visibility, -webkit-box-shadow;
  transition-property: opacity, visibility, box-shadow;
  transition-property: opacity, visibility, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--transition-duration);
  transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
  transition-timing-function: var(--transition-timing-function);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: var(--attribute-color);
  width: 450px;
  height: 609px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.close__button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--attribute-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.close__button:focus {
  fill: var(--additional-color);
}
.close__button:hover {
  fill: var(--additional-color);
}
.close__button .close__button:focus .close__btn {
  fill: var(--additional-color);
}

.close__button:focus .close__btn {
  fill: var(--additional-color);
}

.close__button:focus .close__btn {
  fill: var(--additional-color);
}

.close__button:hover .close__btn {
  fill: var(--additional-color);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--base-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.person__data {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
@media screen and (min-width: 1200px) {
  .person__data {
    margin-bottom: 4px;
  }
}

.container__modal {
  margin-bottom: 10px;
}

.field {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 11px 11px 11px 35px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.field:focus {
  border-color: var(--additional-color);
}

.field:focus + .icon__data {
  fill: var(--additional-color);
}

.comments__field {
  width: 100%;
  display: block;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.comments__field:focus {
  border-color: var(--additional-color);
}

.comments__field::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comments__field::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comments__field:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comments__field::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comments__field::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea__container {
  margin-bottom: 20px;
}

.checkbox__container {
  margin-bottom: 31px;
}
@media screen and (min-width: 1200px) {
  .checkbox__container {
    margin-left: 13px;
  }
}

.input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.label__input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-color);
  padding-left: 20px;
}
@media screen and (min-width: 1200px) {
  .label__input {
    line-height: 1.71;
    font-size: 14px;
  }
}

.contract__link {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--additional-color);
  text-decoration: underline;
}

.input::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid var(--base-color);
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon__modal {
  position: absolute;
  width: 16px;
  height: 15px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  -webkit-transition-property: fill, opacity, background-color;
  transition-property: fill, opacity, background-color;
  -webkit-transition-duration: var(--transition-duration);
  transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
  transition-timing-function: var(--transition-timing-function);
}

.input:checked + .icon__modal {
  opacity: 1;
  fill: var(--attribute-color);
  background-color: var(--additional-color);
}

.button__form {
  width: 200px;
  padding: 10px 52px;
  color: var(--attribute-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--additional-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 4px;
  border: rgba(0, 0, 0, 0);
  margin-left: 85px;
  margin-right: 85px;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
@media screen and (min-width: 1200px) {
  .button__form {
    margin-left: 124px;
    margin-right: 124px;
  }
}
.button__form:focus {
  background-color: var(--button-active);
  -webkit-box-shadow: 0px 4p 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4p 4px rgba(0, 0, 0, 0.15);
}
.button__form:hover {
  background-color: var(--button-active);
  -webkit-box-shadow: 0px 4p 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4p 4px rgba(0, 0, 0, 0.15);
  background-color: var(--button-active);
  box-shadow: 0px 4p 4px rgba(0, 0, 0, 0.15);
}

.icon__wrapper {
  position: relative;
}

.icon__data {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.icon__data:focus {
  fill: var(--additional-color);
}
.icon__data:hover {
  fill: var(--additional-color);
}

.overlay {
  padding: 118px 0px;
  margin: 0px auto;
  max-width: 1600px;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 480px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero1x_mobile.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero1x_mobile.jpg);
  }
}
@media screen and (max-width: 767px), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero2x_m.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero2x_m.jpg);
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero1x_tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero1x_tablet.jpg);
  }
}
@media (min-width: 768px), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero2x_tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero2x_tablet.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    padding: 200px 0px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero1x\ _desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero1x\ _desktop.jpg);
  }
}
@media (min-width: 1200px), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero2x_desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero2x_desktop.jpg);
  }
}

.button, .button__footer, .button__primary {
  background-color: var(--additional-color);
  color: var(--attribute-color);
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  padding: 10px 24px;
  width: 200px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 4px;
  letter-spacing: 0.06em;
}

.section__benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section__benefits {
    padding: 94px 0px;
  }
}

@media screen and (max-width: 479px) {
  .benefits__items {
    width: 290px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .benefits__items {
    width: 450px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__items {
    width: 354px;
    margin-bottom: 30px;
  }
  .benefits__items:nth-child(1) {
    margin-right: 30px;
  }
  .benefits__items:nth-child(3) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__items {
    width: 270px;
  }
  .benefits__items:nth-child(1) {
    margin-right: 0;
  }
  .benefits__items:nth-child(3) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .benefits__items:not:last-child {
    margin-bottom: 30px;
  }
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .benefits__title {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__title {
    line-height: 1.17;
  }
}

.discription__benefits {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.benefits {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--shade-color);
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .benefits {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .list__benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .list__benefits {
    gap: 30px;
  }
}

.activity__section {
  padding: 0px 0px 94px 0px;
}
@media screen and (max-width: 1199px) {
  .activity__section {
    display: none;
  }
}

.picture__title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--attribute-color);
}

.list__activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.activity__item {
  width: 370px;
  position: relative;
}

.activity {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.activity__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  color: var(--base-color);
}

.team__section {
  padding: 60px 0px;
  background-color: var(--shade-color);
}
@media screen and (min-width: 1200px) {
  .team__section {
    padding: 94px 0px;
  }
}

@media screen and (max-width: 767px) {
  .team__card {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__card {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    width: 270px;
  }
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.team__item {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--attribute-color);
}

.person__title {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .person__title {
    line-height: 1.17;
    margin-top: 30px;
  }
}

.post__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
@media screen and (min-width: 1200px) {
  .post__title {
    line-height: 1.17;
  }
}

.icon__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon__item {
  width: 44px;
  height: 44px;
}

.link__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-icon);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.link__icon:hover {
  background-color: var(--additional-color);
}
.link__icon:focus {
  background-color: var(--additional-color);
}

.icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
}

.link__icon:hover .icon {
  fill: var(--attribute-color);
}

.link__icon:focus .icon {
  fill: var(--attribute-color);
}

.list__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.section__clients {
  padding: 60px 0px;
  border-color: var(--attribute-color);
}
@media screen and (min-width: 1200px) {
  .section__clients {
    padding: 94px 0px;
  }
}

.clients__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--base-color);
  margin-bottom: 30px;
}

.list__clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.clients__link:hover {
  border: 1px solid var(--additional-color);
  fill: var(--additional-color);
}
.clients__link:focus {
  border: 1px solid var(--additional-color);
  fill: var(--additional-color);
}
@media screen and (max-width: 479px) {
  .clients__link {
    width: 290px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__icon {
  display: block;
  width: 106px;
  height: 60px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

@media screen and (max-width: 479px) {
  .clients__item {
    width: 290px;
  }
}
@media screen and (min-width: 480px) {
  .clients__item {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    height: 92px;
  }
}

.footer {
  background-color: var(--section-color);
  padding: 60px 0px;
}

@media screen and (max-width: 479px) {
  .box__footer {
    width: 320px;
  }
}

.link__map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--attribute-color);
}

.link__mail,
.link__phone {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.link__mail:hover,
.link__phone:hover {
  color: var(--additional-color);
}
.link__mail:focus,
.link__phone:focus {
  color: var(--additional-color);
}

.footer__title, .footer__title--left {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--attribute-color);
}

@media screen and (max-width: 480px) {
  .footer__title--left {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .footer__title--left {
    text-align: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer__title--left {
    margin-right: 234px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title--left {
    margin-right: 183px;
  }
}

.box__first {
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .logo__footer {
    margin-bottom: 30px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .logo__footer {
    margin-left: 100px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .logo__footer {
    margin-left: 0px;
    margin-right: 156px;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 479px) {
  .footer__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 480px) {
  .footer__list {
    margin-left: 122px;
    margin-right: 122px;
  }
}
@media screen and (min-width: 768px) {
  .footer__list {
    margin-left: -20px;
    margin-right: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__list {
    margin-right: 93px;
  }
}

.address__list {
  margin-left: 109px;
  margin-right: 109px;
  text-align: center;
}
@media screen and (max-width: 479px) {
  .address__list {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .address__list {
    margin-left: 61px;
  }
}
@media screen and (min-width: 1200px) {
  .address__list {
    text-align: left;
    margin-left: 0px;
    margin-right: 70px;
  }
}

.address__item {
  width: 232px;
  height: 21px;
  margin-bottom: 8px;
}

.address__item:last-child {
  margin-bottom: 0;
}

.link__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-icon);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.link__icon:focus {
  background-color: var(--additional-color);
}
.link__icon:hover {
  background-color: var(--additional-color);
}

.icon__footer {
  width: 20px;
  height: 20px;
  fill: var(--attribute-color);
}

.footer__title--right {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
@media screen and (max-width: 479px) {
  .footer__title--right {
    text-align: center;
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer__title--right {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__title--right {
    margin: 0;
    width: 207px;
  }
}

.button__footer {
  margin-top: 20px;
  margin-left: 125px;
  margin-right: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.button__footer:hover {
  border-color: var(--button-active);
}
.button__footer:focus {
  border-color: var(--button-active);
}
@media screen and (max-width: 479px) {
  .button__footer {
    margin-left: 45px;
    margin-right: 45px;
  }
}
@media screen and (max-width: 767px) {
  .button__footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .button__footer {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1200px) {
  .button__footer {
    margin-left: 0;
    margin-right: 0;
  }
}

.box__form {
  gap: 12px;
}

.field__footer {
  height: 50px;
  width: 450px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--section-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 16px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}
.field__footer:focus {
  border-color: var(--additional-color);
}
.field__footer:hover {
  border-color: var(--additional-color);
}
@media (max-width: 479px) {
  .field__footer {
    width: 290px;
  }
}
@media (min-width: 768px) {
  .field__footer {
    margin-left: 151px;
  }
}
@media (min-width: 768px) {
  .field__footer {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .field__footer {
    height: 50px;
    width: 358px;
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .box_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__form {
    margin-left: 151px;
    margin-right: 137px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    margin-left: 0;
    margin-right: 0;
  }
}

.field__footer::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03;
  color: Solid rgba(255, 255, 255, 0.6);
}

.field__footer::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03;
  color: Solid rgba(255, 255, 255, 0.6);
}

.field__footer:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03;
  color: Solid rgba(255, 255, 255, 0.6);
}

.field__footer::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03;
  color: Solid rgba(255, 255, 255, 0.6);
}

.field__footer::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03;
  color: Solid rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .portfolio__section {
    padding: 60px 0px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__section {
    padding: 60px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__section {
    padding: 94px 0px;
  }
}

.buttons__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  row-gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .buttons__nav {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .buttons__nav {
    margin-bottom: 30px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .buttons__nav {
    margin-bottom: 50px;
  }
}

.button__menu {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: var(--button-color);
  color: var(--base-color);
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 6px 22px;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}
.button__menu:focus {
  color: var(--attribute-color);
  background-color: var(--additional-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button__menu:hover {
  color: var(--attribute-color);
  background-color: var(--additional-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button__menu:first-child {
  padding: 6px 25px;
}

@media screen and (max-width: 767px) {
  .card__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .card__item {
    width: 354px;
  }
}

.card__title {
  border: 1px solid var(--secondary-border);
  border-top: none;
}
@media screen and (max-width: 767px) {
  .card__title {
    padding: 20px 24px;
  }
}
@media screen and (min-width: 768px) {
  .card__title {
    padding: 20px 24px 56px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .card__title {
    padding: 20px 24px;
  }
}

.project__title {
  line-height: 2;
  letter-spacing: 0.06;
  margin-bottom: 4px;
}
@media screen and (max-width: 767px) {
  .project__title {
    font-style: bold;
    font-size: 16px;
    color: var(--base-color);
  }
}
@media screen and (min-width: 768px) {
  .project__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06;
    margin-bottom: 4px;
    color: var(--base-color);
  }
}

.work__title {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.overlay__description {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767px) {
  .overlay__description {
    padding: 77px 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--attribute-color);
  }
}
@media screen and (min-width: 768px) {
  .overlay__description {
    padding: 49px 24px 77px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--attribute-color);
  }
}

.card__image {
  position: relative;
  overflow: hidden;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
}

.card__item:hover .card__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__link {
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .card__set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}/*# sourceMappingURL=main.css.map */