.mobile__menu{
    padding: 48px 40px;
    position: fixed;
    display: none;
width: 100%;
height: 100%;
background-color: var(--attribute-color);
position: fixed;
overflow: scroll;
top:0;
left:0;
z-index: 1;
&.is-open{
   display: block;
}

}
.menu__items:last-child{
   @media screen and(max-width:479px){
      margin-bottom: 100px;
   }
   margin-bottom: 302px;
}
.menu__items{
   margin-bottom: 32px;
}
.mobile__link{
font-size: 40px;
line-height: 1.18;
letter-spacing: 0.02em;
color: var(--base-color);
transition-property: color;
transition-duration: var(--transition-duration);
transition-timing-function: var(--transition-timing-function);
@media screen and(max-width:479px){
   font-size: 32px;
   line-height: 1.17;
}
 &:focus{
color: var(--additional-color);
 }    
 &:hover{
  
    color: var(--additional-color);
 }   
}

.contacts__link{
   font-size: 34px;
   line-height: 1.18;
   letter-spacing: 0.02em;
   color:var(--text-color);
   transition-property: color;
      transition-duration: var(--transition-duration);
      transition-timing-function: var(--transition-timing-function);
@media screen and(max-width:479px){
   font-size:24px;
   
}      
 &:focus{
     color:var(--additional-color);
  }
&:hover{
   color: var(--additional-color);
}
}
.contacts__item{
   margin-bottom: 32px;
}
.contacts__item:last-child{
   margin-bottom: 64px;
}
.network__link{
   position: relative;
   font-size: 18px;
   line-height: 1.22;
   letter-spacing: 0.02em;
   color: var(--additional-color);
   @media screen and(max-width:479px) {
         font-size: 11px;
  line-height: 1;
}
}
.network__link:not(:last-child)::after{
   position: absolute;
   content: "";
      top: 0px;
      right: -10px;
     width: 1px;
      height: 22px;
      background-color: rgba(33, 33, 33, 0.2);
}

.networks__list{
   @media screen and(max-width:479px) {
  display: flex;

}
   
display: flex;
   gap: 20px;
}
.icon__button{
   
   width: 40px;
   height: 40px;

}
.mobile__button{
   position: absolute;
      right: 15px;
      top: 10px;
      display: flex;
      background-color: var(--attribute-color);
      border-radius: 50%;
      border: 1px solid transparent;
      width: 40px;
      height: 40px;
      cursor: pointer;
   
      align-items: center;
   
      justify-content: center;
      transition-property: fill;
      transition-duration: var(--transition-duration);
      transition-timing-function: var(--transition-timing-function);
}
.mobile__button:focus .icon__button {
   fill: var(--additional-color);
}
.mobile__button:hover .icon__button{
   fill: var(--additional-color);
}

.menu__button{  
   background-color: var(--attribute-color);
   border: 1px solid transparent;
   margin-left: auto;
  
}